.DS_Store
.trash/
.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/plugins/
.obsidian/themes/
.obsidian/icons/
.obsidian/copilot-index-*.json

# Docusaurus
.docusaurus/
.cache-loader/
build/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
