<footer class="footer-clean color-background">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 item">
        <h3>CONTATO</h3>
        <ul>
          <li><a href="mailto:contato@fablabjoinville.com.br">contato@fablabjoinville.com.br</a></li>
          <li><a href="http://api.whatsapp.com/send?1=pt_BR&phone=5547991983527">Fone: (47) 99198-3527</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-4 item">
        <h3>ENDEREÇO</h3>
        <ul>
          <li>Rua Otto Boehm, 48 - América</li>
          <li>Joinville, SC, 89201-700</li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-4 item">
        <h3><a
            href="https://calendar.google.com/calendar/embed?src=fablabjoinville.com.br_30etal1hnjda5gl28attf64vck%40group.calendar.google.com&ctz=America/Sao_Paulo"
            target="_blank" rel="noopener">HORÁRIOS</a></h3>
        <ul>
          <li>Segunda a Quinta: 13:00 ~ 21:00</li>
          <li>Sexta: 09:00 ~ 18:00</li>
          <li>Sábado: a combinar</li>
        </ul>
      </div>

      <div class="col-md-3 item social">
        <a href="https://chat.whatsapp.com/F9qpOQNBrPw3Exuc2wDLTn" target="_blank" rel="noopener">
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </a>
        <a href="https://facebook.com/fablabjoinville" target="_blank" rel="noopener">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC4GLrrHRTb-Oo8Mc5NngGpg" target="_blank" rel="noopener">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/fablabjoinville" target="_blank" rel="noopener">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/fablabjoinville/" target="_blank" rel="noopener">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="row" style="margin-top: 30px">
      <div class="col-sm-12">
        <p class="copyright text-center">Fab Lab Joinville © 2016 - {{ site.time | date: '%Y' }}</p>
      </div>
    </div>
  </div>
</footer>