<nav class="js-navbar navbar navbar-default">
  <img class="logo" src="/assets/images/logo.svg">

  <a class="navbar-brand" href="/">FAB LAB JOINVILLE</a>

  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% link sobre.html %}">SOBRE</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% link blog.md %}">BLOG</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% link atividades.html %}">ATIVIDADES</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/#associe-se">ASSOCIE-SE</a>
    </li>

    <li class="nav-item">
      <a href="https://fablabjoinville.herokuapp.com/" target="_blank" rel="noopener" class="nav-link nav-link-with-icon">
        <i class="fa fa-slack" aria-hidden="true"></i>
      </a>
    </li>

    <li class="nav-item">
      <a href="https://facebook.com/fablabjoinville" target="_blank" rel="noopener" class="nav-link nav-link-with-icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    </li>

    <li class="nav-item">
      <a href="https://instagram.com/fablabjoinville" target="_blank" rel="noopener" class="nav-link nav-link-with-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </li>

    <li class="nav-item">
      <a href="https://www.youtube.com/channel/UC4GLrrHRTb-Oo8Mc5NngGpg" target="_blank" rel="noopener" class="nav-link nav-link-with-icon"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </li>

    <li class="nav-item">
      <a href="https://github.com/fablabjoinville" target="_blank" rel="noopener" class="nav-link nav-link-with-icon"><i class="fa fa-github" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>
