---
---

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body pre, body code {
  font-family: monospace;
}

body {
  background-color: white;
}

article {
  padding: 1.66em;
  background: white;
  color: #333;
  width: 680px;
  min-width: 480px;
  margin: 100px auto 2em auto;
  line-height: 1.66em;

  img {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  article {
    min-width: initial;
    width: initial;
  }
}

h4 {
  line-height: 24px;
}

.navbar {
  color: black;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  padding: 20px 0 10px 50px;
  transition: all 0.4s;
  background-color: transparent;
  white-space: nowrap;

  .logo {
    float: left;
    margin-right: 10px;
    width: 34px;
  }

  .navbar-brand {
    color: black;
    font-size: 26px;
    line-height: 1.33em;
    padding: 0;

    &:hover {
      color: black;
    }
  }

  .navbar-header {
    .navbar-toggle {

      &:hover,
      &:focus {
        background-color: transparent;
      }

      .icon-bar {
        background-color: black;
      }
    }
  }

  .navbar-nav {
    padding-top: 5px;

    .nav-link {
      text-decoration: none;
      font-size: 16px;
      font-weight: 300;
      line-height: 25px;
      color: black;
      letter-spacing: 2px;
      padding: 0 8px 0 30px;

      &.nav-link-with-icon {
        font-size: 21pt;
      }

      &:last-child {
        padding-right: 0
      }

      &:hover,
      &:focus {
        text-decoration: underline;
        color: black;
        background-color: transparent;
      }
    }
  }

  &.sticky {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .navbar-brand {
      color: black;
    }

    .nav-link {
      color: black;

      &:hover {
        color: black;
      }
    }
  }
}

.header {
  align-items: flex-end;
  background-color: #0DACBA;
  display: flex;
  min-height: 520px;

  .jumbotron {
    padding: 0;

    h1 {
      text-align: initial;
    }

    p {
      font-weight: 100;
      text-align: initial;
    }
  }
}

.header-dark {
  align-items: center;
  background: url(/assets/images/header.jpg) #444;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
}


.page-title {
  text-transform: uppercase;
}

.jumbotron {
  background-color: transparent;
  color:white;
  padding: 0 40px;

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  p {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
}

.blog-jumbotron {
  margin-bottom: 130px;
}

@media (max-width: 767px) {
  .navbar {
    padding-left: 20px;

    .navbar-brand {
      font-size: 12pt;
      line-height: 2.33em;
    }

    .navbar-nav {
      padding: 0 30px 0 0;

      .nav-link {
        font-size: 10pt;
      }

      .nav-link-with-icon {
        display: none;
      }
    }
  }

  .header {
    min-height: 400px;
  }

  .header,
  .header-dark {
    h1 {
      font-size: 18pt;
    }

    p {
      font-size: 14pt;
    }
  }
}

.members-button {
  border: 2px solid white;
  color: white;
  font-size: 24px;
}

.article-clean,
.article-list {
  color: #313437;
  background-color: #eef4f7;
  padding-bottom: 50px;

  p {
    color: #7d8285;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 40px;
    color: inherit;
  }

  .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;

    p {
      margin-bottom: 0;
    }
  }

  .bottom {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;

    p {
      margin-bottom: 0;
    }
  }

  .post-thumbnail {
    align-items: center;
    display: flex;
    height: 360px;
    margin: auto;

    a {
      margin: auto;
    }

    img {
      max-height: 300px;
    }
  }
}

@media (max-width: 767px) {
  .article-clean,
  .article-list {
    h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }
}

.article-clean {
  color: #313437;
  font-size: 14pt;

  .text {
    padding-top: 30px;
  }
}

.article-list {
  .item {
    padding-top: 50px;
    text-align: center;

    .name {
      font-weight: bold;
      font-size: 16px;
      margin-top: 20px;
      color: inherit;
      text-transform: uppercase;
    }

    .description {
      font-size: 14pt;
      margin-top: 15px;
      margin-bottom: 0;
    }

    .action {
      font-size: 24px;
      width: 24px;
      margin: 22px auto 0;
      line-height: 1;
      display: block;
      color: #4f86c3;
      opacity: 0.85;
      transition: opacity 0.2s;
      text-decoration: none;

      &:hover {
        opacity: 1;
      }
    }

    img {
      margin: 0 auto;
    }
  }
}

.white {
  background-color: white;
}

.tools .tool-logo {
  height: 100px;
}

.fab-charter-text h4 {
  font-weight: 600;
  margin-top: 35px;

  &:first-child {
    margin-top: 10px;
  }
}

.team-row {
  padding-top: 50px;
}

.team-member {
  img {
    border-radius: 23px;
    margin: auto;
  }

  .name {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
  }
}

.features-boxed {
  color: #231F20;
  background-color: #eef4f7;

  .item {
    text-align: center;

    .name,
    .price {
      font-weight: bold;
      font-size: 27px;
      color: inherit;
    }

    .name {
      margin-bottom: 30px;
      margin-top: 0;
    }

    .description {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .price {
      margin-bottom: 0;
      margin-top: 30px;
    }

    .price-description {
      margin-bottom: 20px;
    }

    .box {
      height: 100%;
      text-align: center;
      padding: 30px;
      background-color: #fff;
    }


    .icon-green {
      font-size: 60px;
      color: #8CC63E;
      margin-top: 20px;
      margin-bottom: 35px;
    }

    .icon-red {
      font-size: 60px;
      color: #E46464;
      margin-top: 20px;
      margin-bottom: 35px;
    }

    .icon-blue {
      font-size: 60px;
      color: #0DACBA;
      margin-top: 20px;
      margin-bottom: 35px;
    }
  }

  hr {
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    border: 0;
    height: 1px;
    margin-bottom: 0;
    margin-top: 0;
  }

  p {
    color: #7d8285;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 70px;
    color: inherit;
  }

  .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;

    p {
      margin-bottom: 0;
    }
  }

  .features {
    padding: 0 0 50px 0;
  }
}

.totheright{
  text-align:right;
}
.totheleft{
  text-align:left;
}
@media (min-width: 767px) {
  .features-boxed {
    .features {
      display: flex;
    }

    .faber-box {
      position: relative;

      .price-area {
        bottom: 30px;
        left: 0;
        position: absolute;
        right: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .features-boxed {
    h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }

    .item:first-child {
      margin-bottom: 30px;
    }
  }
}

.brand-logo {
  width: 150px;
  padding: 25px 0;
}

.brands {
  background-color: #fff;
  padding: 15px 0;
  text-align: center;
}

.brands-row {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .brands-row {
    display: block;
  }
}

.map {
  height: 300px
}

.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-left: 0px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

.photo-gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px;

    li {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        flex: 1 1 30%;

        a, img {
            display: block;
        }

        img {
            max-width: 100%;
            margin: 0 auto;
        }
    }
}

.post {
  margin: 0 0 40px 0;

  .post-title {
    font-size: 24px;
    display: block;
  }

  .post-description {
    margin-left: 160px;
  }

  .post-date {
    color: #999;
    margin-right: 1em;
  }

  .post-author {
    color: #999;
  }

  img {
    float: left;
    margin: 0 10px 10px 0;
    width: 220px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .post .post-description {
    display: inline-block;
    margin-left: 0;
  }
}

#animatedButtom {
  padding: 15px;
  text-align: center;
  background-color: #df691a;
  color: #fff;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 1px 1px #ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  font-size: large;
}

#animatedButtom:hover {
  background-color: #fff;
  color: #df691a;
}

.moreBox {
  display: none;
}

.calendar {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.calendar-section {
  background-color: white;
}

.color-background {
  background-color: #eef4f7;
}
