---
layout: default
---

<div class="header">
  <div class="container">
    <div class="blog-jumbotron jumbotron">
      <h1 class="page-title">ATIVIDADES</h1>
      <p>Aqui compartilhamos o que acontece no laboratório, nossos projetos, oficinas, palestras, notícias e ideias em geral.</p>
    </div>
  </div>
</div>

<!--
<div class="article-clean white">
  <div class="container">
    <div class="text">
    <div class="row">
      <div class="col-sm-12" style="margin-bottom: 24px">
        <h4>Estes são os nossos laboratórios semanais. Neles nos reunimos informalmente para trabalhar nos nossos projetos e trocar informações. Aqui você vai encontrar apoio para tirar dúvidas e pessoas para colaborar em seus projetos. Venha participar!</h4>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-4 item">
          <img class="img-responsive tool-logo" src="/assets/images/clubes/computacao20181.png">
          <h4 class="description">Na terça-feira, a partir das 19hrs, temos o Clube de Computação. O foco será programação Python, os primeiros passos na linguagem.Só aparecer por lá com notebook, não precisa de inscrição nenhuma.</h4>
        </div>
        <div class="col-sm-4 item">
          <img class="img-responsive tool-logo" src="/assets/images/clubes/eletronica2018.png">
          <h4 class="description">Na quinta-feira nós desenvolvemos nossos próprios hardwares, impressoras 3D, Fresas CNC, automatizamos e ligamos na internet todo tipo de coisa.</h4>
        </div>
        <div class="col-sm-4 item">
          <img class="img-responsive tool-logo" src="/assets/images/clubes/fabricacaodigital.png">
          <h4 class="description">Todo Sábado a partir das 14 horas. Neste laboratório realizamos pesquisas aplicadas em fabricação digital, modelagem 3D, CAM, CAD e também produzimos (quase) qualquer coisa em máquinas CNC e impressoras 3D.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<article>
  {{content}}
</article>

<div class="container">
  <div class="row" style="margin-bottom: 60px; margin-top: -40px;">
    <div class="col-sm-12">
      <p class="text-center"><a href="#" id="animatedButtom">Carregar Mais</a></p>
    </div>
  </div>
</div>

<script>
$( document ).ready(function () {
  $(".moreBox").slice(0, 5).show();
    if ($(".blogBox:hidden").length != 0) {
      $("#animatedButtom").show();
    }   
    $("#animatedButtom").on('click', function (e) {
      e.preventDefault();
      $(".moreBox:hidden").slice(0, 5).slideDown();
      if ($(".moreBox:hidden").length == 0) {
        $("#animatedButtom").fadeOut('slow');
    }
  });
});
</script>

<div class="article-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">COMUNIDADES</h2>
    </div>
    <div class="text">
      <div class="row">
        <div class="col-sm-6 item">
          <center><a href="http://joinville.ml"><img class="img-responsive tool-logo" src="/assets/images/clubes/datascience.png"></a></center>
          <h4 class="description">Comunidade de empreendedores, engenheiros, cientistas e entusiastas de Data Science de Joinville, SC. Não existe nenhum pré-requisito para participar dos nossos eventos. Visite o <a href="https://data-science-joinville.github.io/">site da comunidade</a>.</h4>
        </div>
        <div class="col-sm-6 item">
          <img class="img-responsive tool-logo" src="/assets/images/clubes/python-ruby.png"></a>
          <h4 class="description">Troca de conhecimento sobre o ecossistema de tecnologias ao redor da linguagem Python e Ruby e desenvolvimento de software. São bem vindas pessoas que trabalham com outras tecnologias e com qualquer nível de conhecimento. Visite o site da comunidade de <a href="http://python.joinville.br">Python</a> e <a href="http://ruby.joinville.br/">Ruby</a>.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
