<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    <script>
        function relDate(str) {
            var components = (str.match(/^(\d{2})\/(\d{2})\/(\d{4})/) || []).map(Number);
            if (components.length === 0) {
                return str;
            }
            var delta = Date.now() - Date.UTC(components[3], components[2] - 1, components[1]);
            var days = Math.floor(delta / (1000 * 60 * 60 * 24));
            if (days === 0) {
                return 'Hoje';
            }
            if (days === 1) {
                return 'Ontem';
            }
            return str;
        }

        [].forEach.call(document.querySelectorAll('.ts'), function(el) {
            var text = el.innerText.trim();
            el.innerHTML = relDate(text);
            el.title = text;
        });
    </script>

    <div role="main" id="gabrielo-1f81da8dcb9547ab4423"></div>
    <script type="text/javascript" src="https://d2umgtt5tsqx05.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script>
    <script type="text/javascript"> new RDStationForms('gabrielo-1f81da8dcb9547ab4423', 'null').createForm();</script>
  </body>
</html>
