---
layout: default
---
<div class="header-dark">
  <div class="jumbotron">
    <h1>FAÇA (QUASE)<br>QUALQUER COISA!</h1>
    <p>O Fab Lab Joinville é um lugar muito massa, venha conhecer!</p>
    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLScMh7dfalxdxlgM1xEFVmHrOsC0MIIoqhr8IuA5sMH3-qHSjA/viewform" target="_blank" class="members-button btn">ASSOCIE-SE</a></p>
  </div>
</div>

<div class="article-list">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">PRÓXIMOS EVENTOS</h2>
    </div>

    <div class="row articles">
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="http://placehold.it/360x360"></a>
        <h3 class="name"><a href="#">Evento</a></h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
      </div>

      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="http://placehold.it/360x360"></a>
        <h3 class="name"><a href="#">Evento</a></h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
      </div>

      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="http://placehold.it/360x360"></a>
        <h3 class="name"><a href="#">Evento</a></h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
      </div>
    </div>
  </div>
</div>

<div class="article-list">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">ÚLTIMAS NOTÍCIAS</h2>
    </div>

    <div class="row articles">
      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="http://placehold.it/360x360"></a>
        <h3 class="name"><a href="#">Notícia</a></h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
      </div>

      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="http://placehold.it/360x360"></a>
        <h3 class="name"><a href="#">Notícia</a></h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
      </div>

      <div class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="http://placehold.it/360x360"></a>
        <h3 class="name"><a href="#">Notícia</a></h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
      </div>
    </div>
  </div>
</div>

<div class="features-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">ASSOCIE-SE</h2>
    </div>

    <div class="row features">
      <div class="col-md-4 col-md-offset-2 col-sm-6 item">
        <div class="box">
          <i class="glyphicon glyphicon-scissors icon"></i>
          <h3 class="name">MAKER</h3>
          <p class="description">Ganhe acesso total ao laboratório e desconto em eventos.</p>
          <h3 class="name">R$ 25,00</h3>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScMh7dfalxdxlgM1xEFVmHrOsC0MIIoqhr8IuA5sMH3-qHSjA/viewform" target="_blank" class="learn-more">ASSOCIE-SE</a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 item">
        <div class="box">
          <i class="glyphicon glyphicon-wrench icon"></i>
          <h3 class="name">FABER</h3>
          <p class="description">Além dos benefícios do Maker, você também participa da administração.</p>
          <h3 class="name">R$ 50,00</h3>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScMh7dfalxdxlgM1xEFVmHrOsC0MIIoqhr8IuA5sMH3-qHSjA/viewform" target="_blank" class="learn-more">ASSOCIE-SE</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content brands">
  <div class="container">
    <div class="row brands-row">
      <div class="col-md-3">
        <a href="http://www.softville.org.br/" target="_blank">
          <img src="/assets/images/softville.jpeg" class="brand-logo">
        </a>
      </div>

      <div class="col-md-3">
        <a href="http://www.cct.udesc.br/" target="_blank">
          <img src="/assets/images/udesc.jpg" class="brand-logo">
        </a>
      </div>

      <div class="col-md-3">
        <a href="http://www.fliperamaec.com.br/" target="_blank">
          <img src="/assets/images/fliperama.png" class="brand-logo">
        </a>
      </div>

      <div class="col-md-3">
        <a href="https://www.hkohndesign.com/" target="_blank">
          <img src="/assets/images/hkohn.jpg" class="brand-logo">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="js-map map"></div>
